.App {
  text-align: center;
}

li {
  list-style: none;
}

h1 {
  color: rgb(182, 28, 97);
}

strong {
  color: rgb(182, 28, 97);
}

p {
  color: rgb(210, 88, 143);
}

a {
  color: rgb(182, 28, 97);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  background-color: #ffff;
  color: rgb(210, 88, 143);
}
.header {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
